body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #021f47af;
}
/* .app {
} */
.home-page {
  display: flex;
  gap: 50px;
  max-width: 900px;
  margin: 20px auto;
  justify-content: space-between;
}

.intro {
  margin-top: 25px;
}
.welcome {
  font-size: 30px;
  color: #e2e2e2;
  letter-spacing: 2px;
}
.heading {
  color: #fff;
  display: block;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: 18px;
  letter-spacing: 2px;
}
.text {
  color: #c2c2c2;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.questions-container {
  max-width: 900px;

  margin: 100px auto 0;
  display: flex;
  justify-content: space-between;
}
.logo {
  color: #fff;
  position: absolute;
  top: 20px;
}
.question-num {
  color: #c2c2c2;
}
.question {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 200px;
}

.answers {
  background-color: #344154af;
  margin-bottom: 20px;
  color: #fff;
  display: flex;
  font-size: 18px;
  align-items: center;
}

.btn,
.answers {
  color: #fff;
  border-radius: 10px;
  padding: 25px;
  cursor: pointer;
  border: none;
  width: 450px;
}

.btn {
  text-transform: uppercase;
  background-color: rgba(194, 40, 194, 0.881);
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: rgba(101, 3, 101, 0.817);
}
input {
  accent-color: rgba(194, 40, 194, 0.881);
  width: 300px;
}
.icon-1,
.icon-2,
.icon-3,
.icon-4 {
  font-size: 30px;
  margin-right: 10px;
}
.icon-1 {
  color: rgba(227, 166, 53, 0.9);
}
.icon-2 {
  color: rgba(67, 225, 162, 0.888);
}
.icon-3 {
  color: rgba(56, 168, 243, 0.902);
}
.icon-4 {
  color: rgb(52, 162, 216);
}
.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.loader {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}

.dot:nth-child(1) {
  animation: preloader 0.6s ease-in-out alternate infinite;
}
.dot:nth-child(2) {
  animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}
.dot:nth-child(3) {
  animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}
@keyframes preloader {
  to {
    transform: scale(2);
  }
}

.letter {
  background-color: #d8d7d7cf;
  color: #102246bb;
  border-radius: 2px;
  margin-right: 20px;
  padding: 5px 10px;
}

.selected {
  background-color: #060d17af;
  opacity: 1;
}

.disable {
  cursor: not-allowed;
  opacity: 0.6;
}
.correct {
  background-color: rgba(34, 111, 187, 0.772);
}
.wrong {
  background-color: rgba(194, 84, 84, 0.792);
}
.score {
  margin-top: 100px;
  color: #fdf2f2b9;
}
